<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <title>上海市七宝中学附属鑫都实验中学</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta charset="UTF-8" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="work/calendar.css">
  <meta name="renderer" content="webkit" />
<!-- ---- 2023>>--【common】 -- 标签开始 ---- -->
 <link rel="icon" href="images/logox.png" type="image/x-icon"/>   
<!-- bootstrap -->
  <link rel="stylesheet" href="static/common/bootstrap-3.4.1-dist/css/bootstrap.min.css" />
  <!-- avg-grid -->
  <link rel="stylesheet" href="static/common/css/avg-grid.css" />
  <!-- swiper -->
  <link rel="stylesheet" href="static/common/swiper/swiper.min.css" />
  <!-- hover -->
  <link rel="stylesheet" href="static/common/css/hover.css" />
  <!-- iconfont -->
  <link rel="stylesheet" href="static/common/font_1107057_clnilxandsi/iconfont.css" />

  <link rel="stylesheet" href="static/css/index.css" />

  <script src="wcm.files/js/jqueryN.js"></script>
  <script src="static/common/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
  <script src="static/common/swiper/swiper.min.js"></script>
  <script src="static/common/js/jquery.SuperSlide.2.1.3.js"></script>

  <script src="https://qbxd.mhedu.sh.cn/static/js/index.js"></script>

<!-- ---- 2023>>--【common】 -- 标签结束 ---- -->

  <script src="static/common/js/vue.js"></script>
<script>
function isMobile() {
if((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)))
 return true;
else
return false;}
var urlMobile='/info/iList.jsp?tm_id=858';//手机跳转的页面
if(isMobile() !== false)
window.location.href=urlMobile;
</script>
  

</head>

<body id="homePage" class="homePc">
  <div id="home">
    <div id="header">
  <!-- ---- 2023>>--【head】 -- 标签开始 ---- -->

<div class="g-top headerPc">
  <div class="container"> 
    <a class="m-logo" href="qbxd_mhedu_sh_default.html">
      <img src="static/img/logo.png" alt="" />
    </a>
   <ul id="nav" class="m-nav clearfix">
      <li class="nLi">
        <h3><a href="qbxd_mhedu_sh_default.html">首页</a></h3>
      </li>
                        <li class="nLi">
                <h3><a href="info/iIndex.htm">走进鑫中</a></h3>
                <ul class="sub" style="display: none;">
                    <li><a href="info/iList.htm">学校简介</a></li>
                   <li><a href="info/iList_2.htm">师资队伍</a></li>
                  <li><a href="info/iList_3.htm">荣誉园地</a></li>
                    <li><a href="info/iList_5.htm">鑫中人物</a></li>
                    <li><a href="info/iList_4.htm">校园风光</a></li>
                            </ul>
      </li>
      
                  <li class="nLi">
                <h3><a href="info/iIndex_2.htm">党建工会</a></h3>
                <ul class="sub" style="display: none;">
                                                  <li><a href="info/iList_6.htm">组织概况</a></li>
                                                  <li><a href="info/iList_9.htm">党建动态</a></li>
                                                  <li><a href="info/iList_7.htm">公示公开</a></li>
                                                  <li><a href="info/iList_8.htm">工会之家</a></li>
                            </ul>
      </li>
      
                  <li class="nLi">
                <h3><a href="info/iIndex_3.htm">学生发展</a></h3>
                <ul class="sub" style="display: none;">
                 
                    <li><a href="info/iIndex_4.htm">学生活动</a></li>
                    <li><a href="info/iList_11.htm">团、队动态</a></li>
                   <li><a href="info/iList_10.htm">心理健康</a></li>
                   <li><a href="info/iIndex_5.htm">家校共建</a></li>
                   <li><a href="info/iIndex_6.htm">学生荣誉</a></li>
                            </ul>
      </li>
      
                  <li class="nLi">
                <h3><a href="info/iIndex_8.htm">教育发展</a></h3>
                <ul class="sub" style="display: none;">
                 <li><a href="info/iIndex_9.htm">课程教学</a></li>
                 <li><a href="info/iIndex_7.htm">教师培训</a></li>
                 <li><a href="info/iList_12.htm">教育科研</a></li>
                 <li><a href="info/iList_13.htm">教师荣誉</a></li>
                 <li><a href="info/iList_14.htm">后勤服务</a></li>
                            </ul>
      </li>
      
          </ul>
  </div>
</div>
<div class="g-top headerSj">
  <div class="container">
    <a class="m-logo" href="https://qbxd.mhedu.sh.cn/2023">
      <img src="static/img/logo.png" alt="" />
    </a>
    <div class="menu-btn">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </div>
    <div class="g-nav bg-main">
      <ul id="nav" class="nav clearfix">
        <li class="nLi">
          <h3><a href="qbxd_mhedu_sh_default.html">首页</a></h3>
        </li>
                           <li class="nLi">
                <h3><a href="info/iList.htm">走进鑫中</a></h3>
               
      </li>
      
                  <li class="nLi">
                <h3><a href="info/iList_6.htm">党建工会</a></h3>
               
      </li>
      
                  <li class="nLi">
                <h3><a href="info/iList_15.htm">学生发展</a></h3>
               
      </li>
      
                  <li class="nLi">
                <h3><a href="info/iList_16.htm">教育发展</a></h3>
               
      </li>
      
              
      </ul>
    </div>
    <!-- <ul id="nav" class="m-nav clearfix">
      <li class="nLi">
        <h3><a href="index.html">首页</a></h3>
      </li>
      <li class="nLi">
        <h3>
          <a href="#">走进鑫中</a>
        </h3>
        <ul class="sub" style="display: none;">
          <li>
            <a href="">学校概况</a>
          </li>
          <li><a href="">办学特色</a></li>
          <li><a href="">鑫中人物</a></li>
          <li><a href="">荣誉园地</a></li>
          <li><a href="">校园风光</a></li>
        </ul>
      </li>
      <li class="nLi">
        <h3>
          <a href="#">党建工会</a>
        </h3>
        <ul class="sub" style="display: none;">
          <li>
            <a href="">学校概况</a>
          </li>
          <li><a href="">办学特色</a></li>
          <li><a href="">鑫中人物</a></li>
          <li><a href="">荣誉园地</a></li>
          <li><a href="">校园风光</a></li>
        </ul>
      </li>
      <li class="nLi">
        <h3>
          <a href="#">师生成长</a>
        </h3>
        <ul class="sub" style="display: none;">
          <li>
            <a href="">学校概况</a>
          </li>
          <li><a href="">办学特色</a></li>
          <li><a href="">鑫中人物</a></li>
          <li><a href="">荣誉园地</a></li>
          <li><a href="">校园风光</a></li>
        </ul>
      </li>
      <li class="nLi">
        <h3>
          <a href="#">通知公告</a>
        </h3>
        <ul class="sub" style="display: none;">
          <li>
            <a href="">学校概况</a>
          </li>
          <li><a href="">办学特色</a></li>
          <li><a href="">鑫中人物</a></li>
          <li><a href="">荣誉园地</a></li>
          <li><a href="">校园风光</a></li>
        </ul>
      </li>
      <li class="nLi">
        <h3>
          <a href="#">招生招聘</a>
        </h3>
        <ul class="sub" style="display: none;">
          <li>
            <a href="">学校概况</a>
          </li>
          <li><a href="">办学特色</a></li>
          <li><a href="">鑫中人物</a></li>
          <li><a href="">荣誉园地</a></li>
          <li><a href="">校园风光</a></li>
        </ul>
      </li>
    </ul> -->
  </div>
</div>
<script>
  jQuery('#nav').slide({
    type: 'menu',
    titCell: '.nLi',
    targetCell: '.sub',
    effect: 'fade',
    delayTime: 300,
    triggerTime: 0,
    defaultPlay: false,
    returnDefault: true,
  });
  $('.menu-btn').click(function (e) {
    $('.headerSj .g-nav').fadeToggle(300);
    $('.menu-btn').toggleClass("on");
  });
</script>
<style>
  
  #homePage.homePc .m-lb {
    width: 100%;max-width:1270px;
    height:450px;margin:auto;
   
}
  
.headerPc .m-logo {height: 98px;line-height: 97px;}
.headerPc .m-nav .nLi{height:87px;}
.headerPc .m-nav .nLi h3 a{padding-top:55px;}
#header{background:white}
  #lby .g-sd .column-nav{border-radius:6px;}
  #lby .g-sd .column-list li{line-height: 24px;min-height:24px;}

#lby .g-sd .column-list li a.ac{color:#3aa7f1}
  #lby .g-sd .column-list .sub-list li a{font-size:1.8rem;}
  #lby .g-sd .column-list li a{font-size:2rem;height:4rem;line-height:4rem;}
  #homePage.homePc .slideTxtBox .on .name{font-size:22px !important}
  #homePage.homePc .slideTxtBox .hd ul li a{font-size:22px;}
  .m-search .search_text{background-color:rgba(239, 239, 240, 0.5);}
  #lby .lb-top .name{font-size:3rem;}
  @media(max-width:750px){
  #lby .lb-banner img{height:22.89vw}
  }
</style>

<!-- ---- 2023>>--【head】 -- 标签结束 ---- -->
  
    </div>
    <div id="body">
      <div class="m-lb">
          <div class="container">
          <div class="m-search" style="margin-top:40px;right:70px;">
            <form id="searchform" name="searchform" action="search/searchResultGJ.htm" method="get" style="position: relative;">
              <button type="submit" class="search_btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              <input id="q" name="q" placeholder="搜索" type="text" class="search_text inp">
              <input type="hidden" value="862" name="t_id">
              <input type="hidden" value="" name="site_id" style="width:0;">
              <input type="hidden" value="18036" name="categoryId">
            </form>
          </div>
        </div>
        
        <div id="lb_01" class="swiper-container">
          <div class="swiper-wrapper">
                       <div class="swiper-slide" >
              <a href="https://mp.weixin.qq.com/s/kearsTD70ezKy8yu7IRgdg" target="_blank" title="相见在春暖花开！七宝鑫都师生喜迎龙年开学日"><img src="http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402200203050_b.jpg" alt="" /></a>
              <!-- <div class="slide-title">
                <a class=" text-overflow" href="">上海市静安中学体育赛事</a>
              </div> -->
            </div>
                        <div class="swiper-slide" >
              <a href="2023/zjxz/xzrw/278275.htm" target="_blank" title="七宝鑫都连续四年蝉联上海市见习教师基本功大赛一等奖"><img src="http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402170729045_b.jpg" alt="" /></a>
              <!-- <div class="slide-title">
                <a class=" text-overflow" href="">上海市静安中学体育赛事</a>
              </div> -->
            </div>
                        <div class="swiper-slide" >
              <a href="https://mp.weixin.qq.com/s/cHkgOenOd-0cuF8cMzbwjQ" target="_blank" title="吹响春的号角——七宝鑫都2024年元旦迎新联欢纪实"><img src="http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202401/202401030551055_b.jpg" alt="" /></a>
              <!-- <div class="slide-title">
                <a class=" text-overflow" href="">上海市静安中学体育赛事</a>
              </div> -->
            </div>
                        <div class="swiper-slide" >
              <a href="https://mp.weixin.qq.com/s/7QPekDat2IDxFP8mKweUfQ" target="_blank" title="祝贺！七宝鑫都在第38届上海市青少年科技创新大赛中摘取7个一等奖"><img src="http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202304/202304180929030_b.jpg" alt="" /></a>
              <!-- <div class="slide-title">
                <a class=" text-overflow" href="">上海市静安中学体育赛事</a>
              </div> -->
            </div>
                        <div class="swiper-slide" >
              <a href="https://app.kuhuace.com/player/index.html?id=1106703599125135360" target="_blank" title="七宝鑫都办学剪影三周年纪念电子刊"><img src="http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202303/202303220818048_b.jpg" alt="" /></a>
              <!-- <div class="slide-title">
                <a class=" text-overflow" href="">上海市静安中学体育赛事</a>
              </div> -->
            </div>
                      </div>
          <!-- 如果需要分页器 -->
          <div class="swiper-pagination swiper-container-myColor"></div>
        </div>
      </div>
      <div class="container">
        <div class="h20"></div>
        <div class="row">
          
          <div class="col-xs-12">
            <div class="m-kstd" style="margin:0 auto 20px;">
              <div class="line"></div>
              <div class="items">
                <a class="item hvr-grow" href="member/memberLogin.htm">
                

                  <div class="pic">
                    <img src="static/img/xntz.png" alt="" />
                  </div>
                  <div class="txt">校内通知</div>
                </a>
                <a class="item hvr-grow">
                

                  <div class="pic">
                    <img src="static/img/kfr.png" alt="" />
                  </div>
                  <div class="txt">开放日</div>
                  
                

                </a>
                  <a class="item hvr-grow" href="info/iList_17.htm">
                  <div class="pic">
                    <img src="static/img/bmdh.png" alt="" />
                  </div>
                  <div class="txt">部门导航</div>
                </a>
               <!-- <a class="item hvr-grow" href="/info/iList.jsp?cat_id=17528">-->
                 <a class="item hvr-grow" href="qbxd_mhedu_sh_default.html#">

                  <div class="pic">
                    <img src="static/img/wmxy.png" alt="" />
                  </div>
                  <div class="txt">文明校园</div>
                </a>
               
              </div>
            </div>
          </div>
          
          
          <div class="col-xs-6">
      <div style="overflow: hidden;" class="box-shadow">
        <div  style="overflow: hidden; margin-top: 16px;">
          <div style="float:right;" id="calendar" class="calendar"></div>
          <div style="float:right;" class="mm-calendar" >
            <div id="calendar-side">
                
            </div>
            <div class="r">
              <span id="mm_curday"></span>
              <span>日</span>
            </div>
            <div class="z" id="mm_curweek"></div>
          </div>
        </div>
        
      </div>
      
          </div>
          <div class="col-xs-6">
            <div class="m-news slideTxtBox box-shadow">
              <div class="hd">
                <ul>
                  <li class="on">
                    <a class="name" >最新动态</a>
                    
                     
                  </li>
                  <li class="">
                    <a class="name" href="info/iList_18.htm" target="_blnak">荣誉园地</a>
                  
                  </li>
                </ul>
              </div>
              <div class="bd">
                <div class="m-xinwen_list">
                  <a class="hd-more" href="info/iList_17.htm" style="font-size:14px;display:block;color: #bababa;top: -49px;">更多>></a> 
                  
                  <div class="xinwen_list_bottom">
                    <ul class="ty-list list-unstyle">
                      <li v-for="(item, index) in tzgg_data" :key="index" v-if="index < 5">
                        <span class="time" v-text="item.date"></span>
                        <a class="ui-preDot text-overflow" :href="item.href" target="_blank">
                          <span class="sort" v-html="item.sort"></span>
                          <span class="title" v-html="item.title"></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-xinwen_list" style="display: none">
                   <a class="hd-more" href="info/iList_18.htm" style="font-size:14px;display:block;color: #bababa;top: -49px;">更多>></a>
                  <div class="xinwen_list_bottom">
                    <ul class="ty-list list-unstyle">
                      <div></div>
                      <li v-for="(item, index) in ryyd_data" :key="index" v-if="index < 5">
                        <span class="time" v-text="item.date"></span>
                        <a class="ui-preDot text-overflow" :href="item.href" target="_blank">
                          <span class="sort" v-html="item.sort"></span>
                          <span class="title" v-html="item.title"></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="m-xyzw">
        <div class="container">
          <div class="row col-xs-12">
            <div class="">
              <div class="ty-hd">
                <a href="info/iList_19.htm" class="hd-1">校园新闻</a>
              </div>
              <div class="bd">
                <div id="xyxw" class="xyxw_swiper">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="(item, index) in xyxw_data" :key="index">
                        <a :href="item.href" target="_blank">
                          <div class="pic"><img :src="item.src" /></div>
                        </a>
                        <div class="time">
                          <p class="time1" v-text="item.time1"></p>
                          <p class="time2" v-text="item.time2"></p>
                        </div>
                        <div class="slide-title">
                          <a :href="item.href" target="_blank" v-text="item.title"></a>
                        </div>
                      </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination swiper-container-myColor"></div>
                  </div>
                  <div class="swiper-button-prev">
                    <span class="glyphicon glyphicon glyphicon-menu-left"></span>
                  </div>
                  <div class="swiper-button-next">
                    <span class="glyphicon glyphicon glyphicon-menu-right"></span>
                  </div>
                </div>
                <script>
                  $(function () {
                    var xyxw = new Swiper('#xyxw .swiper-container', {
                      // autoplay: {
                      //   delay: 8000, //1秒切换一次
                      // },
                      navigation: {
                        nextEl: '#xyxw .swiper-button-next',
                        prevEl: '#xyxw .swiper-button-prev',
                      },
                      slidesPerView: 3,
                      slidesPerGroup: 3,
                      spaceBetween: 50,
                    });
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-bxts">
        <div class="container">
          <div class="ty-hd">
            <a class="hd-1">办学特色</a>
          </div>
          <div class="bd">
            <div class="left">
                              <p class="tit">学校以“科技创新”和“国际理解教育”为办学特色</p>
                             <p class="tit">   通过举办英语文化节、科技文化节等五大校园主题节日，着力培养学生的人文、研究、创新等综合素养。 </p>
              <p class="tit">成为一所具有深厚人文底蕴、浓厚研究氛围、鲜明创新特色，始终面向未来发展，不断引领基础教育改革的区域乃至上海市一流的公办完全中学。 </p>
                          </div>
            <div class="right" style="display:block">
             <!-- <img src="/static/img/bxts.png" alt="" />-->
              <img src="images/bxts.jpg" alt="" />

             <!-- <a class="kjcx" href="/2023/sx/bhts/272343.htm"></a>
              <a class="gjlj" href="/2023/sx/bhts/272342.htm"></a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
   <!-- ---- 2023>>--【tail】 -- 标签开始 ---- -->
<footer class="g-footer">
  <div class="container">
    <div class="flex">
      <div class="wenzi">
        <p>联系电话：021-33286626</p>
        <p>联系邮箱：qibaoxindu@163.com</p>
        <p>联系地址：上海市闵行区联农路626号</p>
      </div>
      <div class="wenzi">
        <p>版权所有：上海市七宝中学附属鑫都实验中学</p>
        <p>沪ICP备05012047号-1</p>
        <p>沪公网安备号：31011202011948</p>
      </div>
      <div class="flex code">
        <div class="text-center">
          <img src="static/img/code2.png" alt="" />
          <p>七宝鑫都官方公众号</p>
        </div>
        <div class="text-center">
          <img src="static/img/code1.png" alt="" />
          <p>七宝鑫都家校平台</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
@media(max-width:400px){
 .g-footer .flex{text-align:center;margin:auto} 
  .g-footer .flex div.wenzi{width:100%}
#homePage.homeSj .m-bxts{margin-bottom:35px;}
  }
  .g-footer p{line-height:3.4rem} 
  #homePage.homePc .m-bxts .left .tit:nth-child(3) {line-height: 30px;}
</style>

<!-- ---- 2023>>--【tail】 -- 标签结束 ---- -->
 
    </div>
  </div>
  
  


<div id="arrange_info" class="opendiv" style="width:540px; border: 1px solid #DCDCDC; border-radius: 4px; display: none; position: absolute; background-color: #FFFFFF; z-index: 999;">
  <!-- <div style="padding-top: 6px;">
    <h1 style="width: 200px; margin: 0 auto; color: #234380; font-size: 16px; text-align: center; border-top-left-radius: 5px;border-top-right-radius: 5px; line-height: 26px;"  id="cur_date">
    </h1>
  </div> -->
  <div style="background-color: #006BBE; padding-top: 6px;">
    <span style="float: right; margin-right: 8px; margin-top: 2px; cursor: pointer;" onclick="$('.opendiv').hide()">
      <img src="work/img/close.png">
    </span>
    <h1 style="width: 200px; margin: 0 auto; background-color: #FFFFFF; color: #234380; font-size: 16px; text-align: center; border-top-left-radius: 5px;border-top-right-radius: 5px; line-height: 26px;"  id="cur_date">
    </h1>
  </div>
  <div id="" style="padding: 15px;">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" class="arrange_info_talbe">
      <thead>
        <tr>
          <th align="left" width="" >事项</th>
          <th align="center" width="100">部门</th>
          <th align="center" width="100">地点</th>
          <th align="center" width="100">时间</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>
  
  
<div id="arrange_week" class="opendiv"  style="border: 1px solid #DCDCDC; border-radius: 4px; display: none; background-color: #FFFFFF;z-index: 999; ">
  <div style="background-color: #006BBE; padding-top: 6px;">
    <span style="float: right; margin-right: 8px; margin-top: 2px;cursor: pointer;" onclick="$('.opendiv').hide()">
      <img src="work/img/close.png">
    </span>
    <h1 style="width: 200px; margin: 0 auto; background-color: #FFFFFF; color: #234380; font-size: 16px; text-align: center; border-top-left-radius: 5px;border-top-right-radius: 5px; line-height: 26px;"  id="cur_week">
      <!-- 第十七周 <span style="font-size: 14px; color: #878787;">工作安排</span> -->
    </h1>
  </div>
  <div class="" style="padding: 15px;">
    <table class="ft-table1"  border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th width="60"></th>
          <th>事项</th>
          <th width="100">部门</th>
          <th width="100">地点</th>
          <th width="100">时间</th>
        </tr>
      </thead>
      <tbody>
        <tr id="week_tr_1">
          <th>星期一</th>
          <td colspan="4">
            <table class="ft-table2 arrange_table" border="0" cellspacing="0" cellpadding="0">
              <!-- <tr>
                <td>事项</td>
                <td>部门</td>
                <td>地点</td>
                <td>时间</td>
              </tr> -->
            </table>
          </td>
        </tr>
        <tr id="week_tr_2">
          <th>星期二</th>
          <td colspan="4">
            <table class="ft-table2 arrange_table" border="0" cellspacing="0" cellpadding="0">
            </table>
          </td>
        </tr>
        <tr id="week_tr_3">
          <th>星期三</th>
          <td colspan="4">
            <table class="ft-table2 arrange_table" border="0" cellspacing="0" cellpadding="0">
            </table>
          </td>
        </tr>
        <tr id="week_tr_4">
          <th>星期四</th>
          <td colspan="4">
            <table class="ft-table2 arrange_table" border="0" cellspacing="0" cellpadding="0">
            </table>
          </td>
        </tr>
        <tr id="week_tr_5">
          <th>星期五</th>
          <td colspan="4">
            <table class="ft-table2 arrange_table" border="0" cellspacing="0" cellpadding="0">
            </table>
          </td>
        </tr>
        <tr id="week_tr_6">
          <th>星期六</th>
          <td colspan="4">
            <table class="ft-table2 arrange_table" border="0" cellspacing="0" cellpadding="0">
            </table>
          </td>
        </tr>
        <tr id="week_tr_7">
          <th>星期日</th>
          <td colspan="4">
            <table class="ft-table2 arrange_table" border="0" cellspacing="0" cellpadding="0">
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="work/calendar.js"></script>
</body>

</html>
<script>
  
  
  $(document).ready(function () {
      getWeekDetailList('');
    
    $("#mm_curweek").html(getCurWeekstr());   
  });
  
  

  // 通知公告
  var tzgg_data = [
         {
    sort: '【团、队动态】',
    title: '＂同心共育 守望成长＂2023学年第二学期第二周升旗仪式 ',
    date: '02-26',
    href: '/2023/hsfz/qddt/292882.htm',
  },
        {
    sort: '【公示公开】',
    title: '上海市七宝中学附属鑫都实验中学2024学年第二批教师招聘公告 ',
    date: '02-21',
    href: 'https://mp.weixin.qq.com/s/fxRImCeheLr27_GbYwyexQ',
  },
        {
    sort: '【团、队动态】',
    title: '＂乘龙之势 勇毅前行＂2023学年第二学期开学典礼暨第一周升旗仪式 ',
    date: '02-19',
    href: '/2023/hsfz/qddt/292870.htm',
  },
        {
    sort: '【鑫中人物】',
    title: '榜样在身边 时代好少年——七宝鑫都2022-2023年度新时代好少年事迹介绍 ',
    date: '01-11',
    href: 'https://mp.weixin.qq.com/s/gXgEn6wx-YfVz9qhxvgEnQ',
  },
        {
    sort: '【初高中】',
    title: '2019年-2023年七宝鑫都科技类获奖明细 ',
    date: '01-03',
    href: '/2023/jyfz/kcjh/cgz/292066.htm',
  },
      ];
  // 荣誉园地
  var ryyd_data = [
        {
    sort: '【2024年】',
    title: '上海学生合唱联盟单位 ',
    date: '01-10',
    href: '/2023/zjxz/rywd/2024/292220.htm',
  },
        {
    sort: '【2024年】',
    title: '闵行区生涯教育项目学校 ',
    date: '01-03',
    href: '/2023/zjxz/rywd/2024/292082.htm',
  },
        {
    sort: '【2023年】',
    title: '闵行区第五届教育学术节 突出贡献奖 ',
    date: '12-31',
    href: '/2023/zjxz/rywd/2023n/292073.htm',
  },
        {
    sort: '【2023年】',
    title: '闵行区第五届教育学术节 优秀组织奖 ',
    date: '12-31',
    href: '/2023/zjxz/rywd/2023n/292072.htm',
  },
        {
    sort: '【2023年】',
    title: '2023年闵行区“小闵超”校园足球满天星联盟联赛 初中U13男子组 季军 ',
    date: '12-27',
    href: '/2023/zjxz/rywd/2023n/292892.htm',
  },
      ];

  // 校园新闻
  var xyxw_data = [
    
        
      {
    title: '春风不及你情深,七宝鑫都全员导师与学子携手共进',
    href: 'https://mp.weixin.qq.com/s/MoygJj3krTmOUVHP08Gu8A',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402290103057.png',
    time1: '2024',
    time2: '02月28日',
  },
       
      {
    title: '我们共同守护！七宝鑫都开展住宿生消防安全演练',
    href: 'https://mp.weixin.qq.com/s/1PAYUq10gvTTwF13gFf84g',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402270159013.png',
    time1: '2024',
    time2: '02月26日',
  },
       
      {
    title: '上海市七宝中学附属鑫都实验中学2024学年第二批教师招聘公告',
    href: 'https://mp.weixin.qq.com/s/fxRImCeheLr27_GbYwyexQ',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402220127026.png',
    time1: '2024',
    time2: '02月21日',
  },
       
      {
    title: '龙年开学季：整装待发，一起奔赴“鑫”学期',
    href: 'https://mp.weixin.qq.com/s/Hb-RI6Gf1o2tg637emWggw',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402180738005.png',
    time1: '2024',
    time2: '02月17日',
  },
       
      {
    title: '七宝鑫都官微贺岁，为您龙年添三“金”',
    href: 'https://mp.weixin.qq.com/s/fuKV0rPJKUxFitToVj9LSA',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402170717042.png',
    time1: '2024',
    time2: '02月10日',
  },
       
      {
    title: '“龙”字诀打开七宝鑫都娃的多彩寒假',
    href: 'https://mp.weixin.qq.com/s/zJBUYt6n-_tlhq6I0NrVKA',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402170716030.jpg',
    time1: '2024',
    time2: '02月08日',
  },
       
      {
    title: '品文化、进社区……七宝鑫都少先队员这样过寒假！',
    href: 'https://mp.weixin.qq.com/s/xVnnoXejCxaRR3CzvMvkjQ',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402170715012.jpg',
    time1: '2024',
    time2: '02月06日',
  },
       
      {
    title: '龙腾虎跃迎新春，七宝鑫都高中部学子寒假生活掠影',
    href: 'https://mp.weixin.qq.com/s/zgUADA4-513jxvy7CrwxdA',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402170713047.jpg',
    time1: '2024',
    time2: '02月03日',
  },
       
      {
    title: '你好，寒假！七宝鑫都学子迎来2023学年第一学期休业式',
    href: 'https://mp.weixin.qq.com/s/CqQpW63_mknDHc3241VDZg',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402170712022.jpg',
    time1: '2024',
    time2: '01月22日',
  },
       
      {
    title: '光影穿梭，初心如磐！七宝鑫都开展师生红色观影活动',
    href: 'https://mp.weixin.qq.com/s/JVmKOxcmQOt4mh1UBy5sxg',
    src: 'http://qbxd.mhedu.sh.cn/wcm.files/upload/CMSxdsyzx/202402/202402170708005.jpg',
    time1: '2024',
    time2: '01月21日',
  },
     
  
  ];

  var vm = new Vue({
    el: '#body',
    data: {},
  });

  // 通知公告 切換
  jQuery('.slideTxtBox').slide({
    effect: 'fold'
  });
  // 大图轮播
  var mylb_01 = new Swiper('#lb_01', {
    effect: 'fade',
    autoplay: {
      delay: 8000, //1秒切换一次
    },
    loop: true, // 循环模式选项
    // 如果需要分页器
    pagination: {
      // 如果需要分页器
      el: '#lb_01 .swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '#lb_01 .swiper-button-next',
      prevEl: '#lb_01 .swiper-button-prev',
    },
  });
  $('.swiper-pagination-bullet').hover(function () {
    $(this).click();
  });
  
  
  
  //得到周列表
  function getWeekDetailList(month)
  {
    $('.week_detail_li').removeAttr('week_id').empty();
    var monday_str = '';
    var li_obj = $('.calendar-date li');
    
    for(var i=1;i<li_obj.length;i++){
      console.log(li_obj.eq(i).html())
      if(li_obj.eq(i).attr('data') != ''){
        monday_str += '-'+li_obj.eq(i).attr('data');
      }
      i+=7;
    }
      
    $.post('/work/submit_work.jsp', {action_type:"getWeekDetailList",mondays:monday_str.substring(1),site_id:'CMSxdsyzx'},
      function(value) {
        var str = '';
        console.log("getWeekDetailList==="+value);
        if(value != null)
        {        
          $.each(value,function(i,n) {      
            $('.week_detail_li').eq(i).attr('week_id',n.week_id).attr('week_code',n.week_code).text('第'+n.week_code+'周');
          });
        }
        
    },"json");
  }
  //得到一周的工作
  function showArrange(week_id,week_code)
  {  
    //$('#cur_week').text('第'+week_code+'周 工作安排');
    $('#cur_week').html('第'+week_code+'周 <span style="font-size: 14px; color: #878787;">工作安排</span>');
    console.log("cur_week==="+cur_week);
    $('.arrange_table').empty();
    $.post('/work/submit_work.jsp', {action_type:"getWeekArrangeList",week_id:week_id,site_id:'CMSxdsyzx'},
      function(value) {
        var str = '';
        console.log("showArrange==="+value);
        if(value != null)
        {        
          $.each(value,function(i,n) {      
            str = '<tr><td>'+n.title+'</td><td>'+n.dept+'</td><td>'+n.address+'</td><td>'+n.time+'</td></tr>';
            
            
            $('#week_tr_'+n.pos+' table').append(str);
          });
        }
    },"json");
  }
  //得到一天的工作
  function showArrangeFDay(date,day_in_week)
  {  
    console.log("date==="+date);
    console.log("day_in_week==="+day_in_week);
    $('#cur_date').text(getFormatDateStr(date,day_in_week));
    $('.arrange_info_talbe tbody').empty();
    
    $.post('/work/submit_work.jsp', {action_type:"getWeekArrangeList",day_id:date,site_id:'CMSxdsyzx'},
      function(value) {
        var str = '';
        console.log("showArrangeFDay==="+value);
        if(value != null)
        {        
          $.each(value,function(i,n) {      
            str += '<tr><td>'+n.title+'</td><td>'+n.dept+'</td><td>'+n.address+'</td><td>'+n.time+'</td></tr>';
          });
        }
        $('.arrange_info_talbe tbody').html(str);
    },"json");
  }
  //得到当天日期
  function getFormatDateStr(date,day_in_week)
  {
    var temp_d_str = [];
    temp_d_str[0] = '日';
    temp_d_str[1] = '一';
    temp_d_str[2] = '二';
    temp_d_str[3] = '三';
    temp_d_str[4] = '四';
    temp_d_str[5] = '五';
    temp_d_str[6] = '六';
    
    var tempA = date.split('-');
    return tempA[0]+'年'+parseInt(tempA[1])+'月'+parseInt(tempA[2])+'日'+'  星期'+temp_d_str[day_in_week];
  }
  
  
  
</script>


